<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="jjones" value="https://pkgs.dev.azure.com/jjones/public/_packaging/public/nuget/v3/index.json" />
    <add key="dotnet-dogfood" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-dotnet-dotnet-7b29526f/nuget/v3/index.json" />
    <!-- The following are needed until 8.0.22 is on nuget.org. -->
    <add key="dotnet8-runtime" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-dotnet-runtime-ad2d4fbc/nuget/v3/index.json" />
    <add key="dotnet8-aspnetcore" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-dotnet-aspnetcore-48716098/nuget/v3/index.json" />
    <add key="dotnet8-windowsdesktop" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-dotnet-windowsdesktop-86525a36/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
  </packageSourceMapping>
</configuration>
