div.settings-button {
    --settings-button-padding: calc(var(--design-unit) * 4px) 0 calc(var(--design-unit) * 4px) calc(var(--design-unit) * 4px);
    cursor: pointer;
}

::deep .fluent-card {
    padding: var(--settings-button-padding);
    border-radius: calc(var(--control-corner-radius) * 1px);
}

::deep .clickable-card {
    background: var(--neutral-fill-input-rest);
}

    ::deep .clickable-card:hover {
        background: var(--neutral-fill-input-hover);
        border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-layer-hover);
        box-shadow: var(--elevation-shadow-card-hover);
    }

    ::deep .clickable-card:active {
        background: var(--neutral-fill-input-active);
        border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-layer-active);
        box-shadow: var(--elevation-shadow-card-pressed);
    }

div.content-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.action-icon-holder {
    width: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 calc(var(--design-unit) * 2px);
}
