div.settings-card {
    --settings-card-padding: calc(var(--design-unit) * 4px);
}

::deep .fluent-card {
    padding: var(--settings-card-padding) !important;
    background: var(--neutral-fill-input-rest) !important;
    border-radius: calc(var(--control-corner-radius) * 1px) !important;
}
