div.settings-button {
    --settings-button-padding: calc(var(--design-unit) * 4px) 0 calc(var(--design-unit) * 4px) calc(var(--design-unit) * 4px);
    cursor: pointer;
}

::deep .fluent-card {
    padding: var(--settings-button-padding) !important;
    border-radius: calc(var(--control-corner-radius) * 1px) !important;
}

::deep .clickable-card {
    background: var(--neutral-fill-input-rest) !important;
}

    ::deep .clickable-card:hover {
        background: var(--neutral-fill-input-hover) !important;
        border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-layer-hover) !important;
        box-shadow: var(--elevation-shadow-card-hover) !important;
    }

    ::deep .clickable-card:active {
        background: var(--neutral-fill-input-active) !important;
        border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-layer-active) !important;
        box-shadow: var(--elevation-shadow-card-pressed) !important;
    }

div.content-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.action-icon-holder {
    width: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 calc(var(--design-unit) * 2px);
}
