div.settings-expander {
    --settings-expander-header-padding: calc(var(--design-unit) * 1px) 0 calc(var(--design-unit) * 1px) calc(var(--design-unit) * 2px);
    --settings-expander-item-padding: 0 calc((var(--base-height-multiplier) + 1 + var(--density)) * var(--design-unit) * 1px) 0 calc((var(--base-horizontal-spacing-multiplier) * 12 - var(--design-unit) * 1.5) * 1px + var(--type-ramp-base-line-height));
}

::deep fluent-accordion-item.expander-item {
    box-sizing: border-box !important;
    box-shadow: var(--elevation-shadow-card-rest) !important;
    border-radius: calc(var(--control-corner-radius) * 1px) !important;
}

    ::deep fluent-accordion-item.expander-item:hover {
        background: var(--neutral-fill-input-hover) !important;
        border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-layer-hover) !important;
        box-shadow: var(--elevation-shadow-card-hover) !important;
    }

    ::deep fluent-accordion-item.expander-item:active {
        background: var(--neutral-fill-input-active) !important;
        border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-layer-active) !important;
        box-shadow: var(--elevation-shadow-card-pressed) !important;
    }

    ::deep fluent-accordion-item.expander-item::part(region),
    ::deep fluent-accordion-item.expander-item .region {
        border-bottom-left-radius: calc((var(--control-corner-radius) - var(--stroke-width)) * 1px) !important;
        border-bottom-right-radius: calc((var(--control-corner-radius) - var(--stroke-width)) * 1px) !important;
    }

::deep div.settings-presenter {
    padding: var(--settings-expander-header-padding) !important;
}

::deep div.setting-expander-content-grid {
    padding: var(--settings-expander-item-padding) !important;
}

div.settings-expander ::deep .default-setting-expander-item .fluent-card {
    background: none !important;
    border: none !important;
    border-top: 1px solid var(--neutral-stroke-layer-rest) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

div.settings-expander ::deep .default-setting-expander-item:first-child .fluent-card {
    border-top: none !important;
}

div.settings-expander ::deep .default-setting-expander-item .fluent-card {
    padding: calc(var(--design-unit) * 2px) calc((var(--base-height-multiplier) + 1 + var(--density)) * var(--design-unit) * 1px) calc(var(--design-unit) * 2px) calc((var(--base-horizontal-spacing-multiplier) * 12 - var(--design-unit) * 1.5) * 1px + var(--type-ramp-base-line-height)) !important;
}

div.settings-expander ::deep .default-setting-expander-item:first-child .fluent-card {
    padding-top: 0 !important;
}

div.settings-expander ::deep .default-setting-expander-item:last-child .fluent-card {
    padding-bottom: 0 !important;
}

div.settings-expander ::deep .default-setting-expander-item .settings-presenter {
    padding: 0 !important;
}
