name: Build

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - name: Install workloads
        run: dotnet workload install wasm-tools wasm-experimental

      - name: Build
        id: build
        run: dotnet build -warnaserror -p:TreatWarningsAsErrors=true -bl:build.binlog

      - name: Incremental re-build
        run: dotnet build -question -bl:question.binlog

      - name: Test
        if: ${{ always() && steps.build.outcome == 'success' }}
        run: dotnet test --no-build --report-xunit

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: logs
          path: |
            *.binlog
            **/TestResults/*.*
