name: Build

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup

      - name: Build
        id: build
        run: dotnet build -warnaserror -p:TreatWarningsAsErrors=true -bl:build.binlog

      - name: Incremental re-build
        run: dotnet build -warnaserror -p:TreatWarningsAsErrors=true -question -bl:question.binlog

      - name: Test
        if: ${{ always() && steps.build.outcome == 'success' }}
        run: dotnet test --no-build --report-trx

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: logs
          path: |
            *.binlog
            **/TestResults/*.*
